* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.core.resources.prefs -text svneol=unset#text/plain
3rdparty/facebook-android-sdk/Facebook.apk -text
3rdparty/facebook-android-sdk/README.md -text
3rdparty/facebook-android-sdk/examples/Hackbook/AndroidManifest.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/README.md -text
3rdparty/facebook-android-sdk/examples/Hackbook/default.properties -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/drawable-hdpi/splash.png -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/drawable/icon.png -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/drawable/icon_hack.png -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/drawable/login.png -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/drawable/login_button.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/drawable/login_down.png -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/drawable/logout.png -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/drawable/logout_button.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/drawable/logout_down.png -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/drawable/me.png -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/drawable/splash.png -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/drawable/x.png -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/layout/connection_item.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/layout/fields_connections_list.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/layout/fields_item.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/layout/fql_query.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/layout/friend_item.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/layout/friends_list.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/layout/graph_explorer.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/layout/main.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/layout/main_list_item.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/layout/permission_item.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/layout/permissions_list.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/layout/place_item.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/layout/places_list.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/layout/splash.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/layout/update_post_response.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/layout/upload_photo_response.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/values/colors.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/res/values/strings.xml -text
3rdparty/facebook-android-sdk/examples/Hackbook/src/com/facebook/android/BaseDialogListener.java -text
3rdparty/facebook-android-sdk/examples/Hackbook/src/com/facebook/android/BaseRequestListener.java -text
3rdparty/facebook-android-sdk/examples/Hackbook/src/com/facebook/android/FQLQuery.java -text
3rdparty/facebook-android-sdk/examples/Hackbook/src/com/facebook/android/FieldsConnectionsDialog.java -text
3rdparty/facebook-android-sdk/examples/Hackbook/src/com/facebook/android/FriendsGetProfilePics.java -text
3rdparty/facebook-android-sdk/examples/Hackbook/src/com/facebook/android/FriendsList.java -text
3rdparty/facebook-android-sdk/examples/Hackbook/src/com/facebook/android/GraphExplorer.java -text
3rdparty/facebook-android-sdk/examples/Hackbook/src/com/facebook/android/Hackbook.java -text
3rdparty/facebook-android-sdk/examples/Hackbook/src/com/facebook/android/IntentUriHandler.java -text
3rdparty/facebook-android-sdk/examples/Hackbook/src/com/facebook/android/LoginButton.java -text
3rdparty/facebook-android-sdk/examples/Hackbook/src/com/facebook/android/PermissionsDialog.java -text
3rdparty/facebook-android-sdk/examples/Hackbook/src/com/facebook/android/Places.java -text
3rdparty/facebook-android-sdk/examples/Hackbook/src/com/facebook/android/SessionEvents.java -text
3rdparty/facebook-android-sdk/examples/Hackbook/src/com/facebook/android/SessionStore.java -text
3rdparty/facebook-android-sdk/examples/Hackbook/src/com/facebook/android/SplashActivity.java -text
3rdparty/facebook-android-sdk/examples/Hackbook/src/com/facebook/android/UpdateStatusResultDialog.java -text
3rdparty/facebook-android-sdk/examples/Hackbook/src/com/facebook/android/UploadPhotoResultDialog.java -text
3rdparty/facebook-android-sdk/examples/Hackbook/src/com/facebook/android/Utility.java -text
3rdparty/facebook-android-sdk/examples/simple/AndroidManifest.xml -text
3rdparty/facebook-android-sdk/examples/simple/default.properties -text
3rdparty/facebook-android-sdk/examples/simple/res/drawable/icon.png -text
3rdparty/facebook-android-sdk/examples/simple/res/drawable/login.png -text
3rdparty/facebook-android-sdk/examples/simple/res/drawable/login_button.xml -text
3rdparty/facebook-android-sdk/examples/simple/res/drawable/login_down.png -text
3rdparty/facebook-android-sdk/examples/simple/res/drawable/logout.png -text
3rdparty/facebook-android-sdk/examples/simple/res/drawable/logout_button.xml -text
3rdparty/facebook-android-sdk/examples/simple/res/drawable/logout_down.png -text
3rdparty/facebook-android-sdk/examples/simple/res/layout/main.xml -text
3rdparty/facebook-android-sdk/examples/simple/res/values/colors.xml -text
3rdparty/facebook-android-sdk/examples/simple/res/values/strings.xml -text
3rdparty/facebook-android-sdk/examples/simple/src/com/facebook/android/BaseDialogListener.java -text
3rdparty/facebook-android-sdk/examples/simple/src/com/facebook/android/BaseRequestListener.java -text
3rdparty/facebook-android-sdk/examples/simple/src/com/facebook/android/Example.java -text
3rdparty/facebook-android-sdk/examples/simple/src/com/facebook/android/LoginButton.java -text
3rdparty/facebook-android-sdk/examples/simple/src/com/facebook/android/SessionEvents.java -text
3rdparty/facebook-android-sdk/examples/simple/src/com/facebook/android/SessionStore.java -text
3rdparty/facebook-android-sdk/examples/stream/AndroidManifest.xml -text
3rdparty/facebook-android-sdk/examples/stream/assets/like_icon.png -text
3rdparty/facebook-android-sdk/examples/stream/assets/login.css -text
3rdparty/facebook-android-sdk/examples/stream/assets/login.html -text
3rdparty/facebook-android-sdk/examples/stream/assets/login_button.png -text
3rdparty/facebook-android-sdk/examples/stream/assets/stream.css -text
3rdparty/facebook-android-sdk/examples/stream/assets/stream.js -text
3rdparty/facebook-android-sdk/examples/stream/default.properties -text
3rdparty/facebook-android-sdk/examples/stream/res/drawable-hdpi/icon.png -text
3rdparty/facebook-android-sdk/examples/stream/res/drawable-ldpi/icon.png -text
3rdparty/facebook-android-sdk/examples/stream/res/drawable-mdpi/icon.png -text
3rdparty/facebook-android-sdk/examples/stream/res/values/strings.xml -text
3rdparty/facebook-android-sdk/examples/stream/src/com/facebook/stream/App.java -text
3rdparty/facebook-android-sdk/examples/stream/src/com/facebook/stream/AsyncRequestListener.java -text
3rdparty/facebook-android-sdk/examples/stream/src/com/facebook/stream/Dispatcher.java -text
3rdparty/facebook-android-sdk/examples/stream/src/com/facebook/stream/FileIO.java -text
3rdparty/facebook-android-sdk/examples/stream/src/com/facebook/stream/Handler.java -text
3rdparty/facebook-android-sdk/examples/stream/src/com/facebook/stream/LoginHandler.java -text
3rdparty/facebook-android-sdk/examples/stream/src/com/facebook/stream/LogoutHandler.java -text
3rdparty/facebook-android-sdk/examples/stream/src/com/facebook/stream/Session.java -text
3rdparty/facebook-android-sdk/examples/stream/src/com/facebook/stream/StreamHandler.java -text
3rdparty/facebook-android-sdk/examples/stream/src/com/facebook/stream/StreamJsHandler.java -text
3rdparty/facebook-android-sdk/examples/stream/src/com/facebook/stream/StreamRenderer.java -text
3rdparty/facebook-android-sdk/facebook/AndroidManifest.xml -text
3rdparty/facebook-android-sdk/facebook/default.properties -text
3rdparty/facebook-android-sdk/facebook/res/drawable-hdpi/close.png -text
3rdparty/facebook-android-sdk/facebook/res/drawable-hdpi/facebook_icon.png -text
3rdparty/facebook-android-sdk/facebook/res/drawable-ldpi/close.png -text
3rdparty/facebook-android-sdk/facebook/res/drawable-ldpi/facebook_icon.png -text
3rdparty/facebook-android-sdk/facebook/res/drawable-xhdpi/close.png -text
3rdparty/facebook-android-sdk/facebook/res/drawable/close.png -text
3rdparty/facebook-android-sdk/facebook/res/drawable/facebook_icon.png -text
3rdparty/facebook-android-sdk/facebook/src/com/facebook/android/AsyncFacebookRunner.java -text
3rdparty/facebook-android-sdk/facebook/src/com/facebook/android/DialogError.java -text
3rdparty/facebook-android-sdk/facebook/src/com/facebook/android/Facebook.java -text
3rdparty/facebook-android-sdk/facebook/src/com/facebook/android/FacebookError.java -text
3rdparty/facebook-android-sdk/facebook/src/com/facebook/android/FbDialog.java -text
3rdparty/facebook-android-sdk/facebook/src/com/facebook/android/Util.java -text
3rdparty/facebook-android-sdk/tests/AndroidManifest.xml -text
3rdparty/facebook-android-sdk/tests/default.properties -text
3rdparty/facebook-android-sdk/tests/res/drawable/icon.png -text
3rdparty/facebook-android-sdk/tests/res/layout/main.xml -text
3rdparty/facebook-android-sdk/tests/res/values/colors.xml -text
3rdparty/facebook-android-sdk/tests/res/values/strings.xml -text
3rdparty/facebook-android-sdk/tests/src/com/facebook/android/tests/Tests.java -text
/AndroidManifest.xml -text
bin/classes.dex -text
bin/classes/nuitinfo/appli/R$attr.class -text
bin/classes/nuitinfo/appli/R$drawable.class -text
bin/classes/nuitinfo/appli/R$id.class -text
bin/classes/nuitinfo/appli/R$layout.class -text
bin/classes/nuitinfo/appli/R$string.class -text
bin/classes/nuitinfo/appli/R.class -text
bin/classes/nuitinfo/appli/login$1.class -text
bin/classes/nuitinfo/appli/login$LoginContentHandler.class -text
bin/classes/nuitinfo/appli/login.class -text
bin/classes/nuitinfo/appli/nuitinfoActivity.class -text
bin/classes/nuitinfo/appli/profile$1.class -text
bin/classes/nuitinfo/appli/profile.class -text
bin/home.xml -text
bin/nuitinfo2011.apk -text
bin/res/drawable-hdpi/ic_launcher.png -text
bin/res/drawable-ldpi/ic_launcher.png -text
bin/res/drawable-mdpi/ic_launcher.png -text
bin/resources.ap_ -text
bin/utc-nuitinfo.apk -text
doc/liste_amis.png -text
doc/liste_amis2.png -text
doc/login.png -text
doc/main.png -text
facebook/connexion.php -text
facebook/facebook-php-sdk/changelog.md -text
facebook/facebook-php-sdk/examples/example.php -text
facebook/facebook-php-sdk/examples/with_js_sdk.php -text
facebook/facebook-php-sdk/readme.md -text
facebook/facebook-php-sdk/src/base_facebook.php -text
facebook/facebook-php-sdk/src/facebook.php -text
facebook/facebook-php-sdk/src/fb_ca_chain_bundle.crt -text
facebook/facebook-php-sdk/tests/bootstrap.php -text
facebook/facebook-php-sdk/tests/tests.php -text
facebook/getFriendList.php -text
facebook/getRecommandations.php -text
facebook/getRecommandationsWithCategory.php -text
facebook/log.xml -text
facebook/login.php -text
facebook/test-facebook-sdk.php -text
facebook/util.php -text
final/login.java -text
final/main.xml -text
final/nuitinfo2011Activity.java -text
final/profile.java -text
final/strings.xml -text
gen/nuitinfo/appli/R.java -text
/info.txt -text
/proguard.cfg -text
/project.properties -text
res/drawable-hdpi/ic_launcher.png -text
res/drawable-ldpi/ic_launcher.png -text
res/drawable-mdpi/ic_launcher.png -text
res/layout/home.xml -text svneol=unset#text/plain
res/layout/itemami.xml -text
res/layout/itemcadeau.xml -text
res/layout/listeami.xml -text
res/layout/listecadeau.xml -text
res/layout/main.xml -text
res/layout/profile.xml -text
res/layout/typecadeau.xml -text
res/values/strings.xml -text
src/nuitinfo/appli/CategoryChoiceActivity.java -text
src/nuitinfo/appli/Contact.java -text
src/nuitinfo/appli/ContactListActivity.java -text
src/nuitinfo/appli/Gift.java -text
src/nuitinfo/appli/GiftListActivity.java -text
src/nuitinfo/appli/LoginActivity.java -text
src/nuitinfo/appli/MainActivity.java -text
src/nuitinfo/appli/RL.java -text
src/nuitinfo/appli/StreamConverter.java -text
src/nuitinfo/appli/UserProfileActivity.java -text
src/nuitinfo/appli/log.xml -text
utc-nuitinfo/info.txt -text
