* text=auto !eol
/.classpath -text
/.project -text
/AndroidManifest.xml -text
bin/classes.dex -text
bin/classes/nuitinfo/appli/R$attr.class -text
bin/classes/nuitinfo/appli/R$drawable.class -text
bin/classes/nuitinfo/appli/R$id.class -text
bin/classes/nuitinfo/appli/R$layout.class -text
bin/classes/nuitinfo/appli/R$string.class -text
bin/classes/nuitinfo/appli/R.class -text
bin/classes/nuitinfo/appli/login$1.class -text
bin/classes/nuitinfo/appli/login$LoginContentHandler.class -text
bin/classes/nuitinfo/appli/login.class -text
bin/classes/nuitinfo/appli/nuitinfoActivity.class -text
bin/classes/nuitinfo/appli/profile$1.class -text
bin/classes/nuitinfo/appli/profile.class -text
bin/nuitinfo2011.apk -text
bin/res/drawable-hdpi/ic_launcher.png -text
bin/res/drawable-ldpi/ic_launcher.png -text
bin/res/drawable-mdpi/ic_launcher.png -text
bin/resources.ap_ -text
gen/nuitinfo/appli/R.java -text
/info.txt -text
/proguard.cfg -text
/project.properties -text
res/drawable-hdpi/ic_launcher.png -text
res/drawable-ldpi/ic_launcher.png -text
res/drawable-mdpi/ic_launcher.png -text
res/layout/main.xml -text
res/layout/profile.xml -text
res/values/strings.xml -text
src/nuitinfo/appli/login.java -text
src/nuitinfo/appli/nuitinfoActivity.java -text
src/nuitinfo/appli/profile.java -text
utc-nuitinfo/info.txt -text
