* text=auto !eol
/.classpath -text
/.project -text
/AndroidManifest.xml -text
bin/classes.dex -text
bin/classes/nuitinfo/appli/R$attr.class -text
bin/classes/nuitinfo/appli/R$drawable.class -text
bin/classes/nuitinfo/appli/R$id.class -text
bin/classes/nuitinfo/appli/R$layout.class -text
bin/classes/nuitinfo/appli/R$string.class -text
bin/classes/nuitinfo/appli/R.class -text
bin/classes/nuitinfo/appli/login$1.class -text
bin/classes/nuitinfo/appli/login$LoginContentHandler.class -text
bin/classes/nuitinfo/appli/login.class -text
bin/classes/nuitinfo/appli/nuitinfoActivity.class -text
bin/classes/nuitinfo/appli/profile$1.class -text
bin/classes/nuitinfo/appli/profile.class -text
bin/nuitinfo2011.apk -text
bin/res/drawable-hdpi/ic_launcher.png -text
bin/res/drawable-ldpi/ic_launcher.png -text
bin/res/drawable-mdpi/ic_launcher.png -text
bin/resources.ap_ -text
facebook/facebook-php-sdk/changelog.md -text
facebook/facebook-php-sdk/examples/example.php -text
facebook/facebook-php-sdk/examples/with_js_sdk.php -text
facebook/facebook-php-sdk/readme.md -text
facebook/facebook-php-sdk/src/base_facebook.php -text
facebook/facebook-php-sdk/src/facebook.php -text
facebook/facebook-php-sdk/src/fb_ca_chain_bundle.crt -text
facebook/facebook-php-sdk/tests/bootstrap.php -text
facebook/facebook-php-sdk/tests/tests.php -text
facebook/getFriendList.php -text
facebook/getRecommandations.php -text
facebook/log.xml -text
facebook/login.php -text
facebook/test-facebook-sdk.php -text
facebook/util.php -text
gen/nuitinfo/appli/R.java -text
/info.txt -text
/proguard.cfg -text
/project.properties -text
res/drawable-hdpi/ic_launcher.png -text
res/drawable-ldpi/ic_launcher.png -text
res/drawable-mdpi/ic_launcher.png -text
res/layout/itemami.xml -text
res/layout/itemcadeau.xml -text
res/layout/listeami.xml -text
res/layout/listecadeau.xml -text
res/layout/main.xml -text
res/layout/profile.xml -text
res/layout/typecadeau.xml -text
res/values/strings.xml -text
src/nuitinfo/appli/Ami.java -text
src/nuitinfo/appli/Cadeau.java -text
src/nuitinfo/appli/ChoixType.java -text
src/nuitinfo/appli/ListeCadeau.java -text
src/nuitinfo/appli/RemplissageListe.java -text
src/nuitinfo/appli/login.java -text
src/nuitinfo/appli/nuitinfoActivity.java -text
src/nuitinfo/appli/profile.java -text
utc-nuitinfo/info.txt -text
